In [2]:
import pandas as pd
import numpy as np
import joblib

In [5]:
data = joblib.load('dataset.pkl')
ds = pd.DataFrame(data, columns=['id', 'employment', 'employer', 'billing_type', 'spec_id', 'premium', 'schedule', 'msg', 'city', 'exp', 'target_from', 'target_to'])

In [6]:
ds.head()

,id,employment,employer,billing_type,spec_id,premium,schedule,msg,city,exp,target_from,target_to
0,4027565,Полная занятость,Сирота ЛБ,Бесплатная,3,False,Полный день,True,NaN,От 1 года до 3 лет,31000.0,NaN
1,0027565,Полная занятость,Атмосфера,Бесплатная,17,False,Полный день,True,NaN,От 1 года до 3 лет,5000.0,NaN
2,5917565,Полная занятость,Динамика,Бесплатная,3,False,Полный день,True,Бердск,Нет опыта,20000.0,35000.0
3,1917565,Полная занятость,Экостандарт,Стандарт,17,False,Полный день,True,Москва,От 1 года до 3 лет,50000.0,NaN
4,0917565,Полная занятость,Rendez-vous,Стандарт,17,False,Сменный график,True,NaN,Нет опыта,52000.0,NaN

In [9]:
len(ds['employer'].unique())

85409

In [7]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696698 entries, 0 to 696697
Data columns (total 12 columns):
id              696698 non-null object
employment      696698 non-null object
employer        696698 non-null object
billing_type    696698 non-null object
spec_id         696698 non-null object
premium         696698 non-null bool
schedule        696698 non-null object
msg             696698 non-null bool
city            208779 non-null object
exp             696698 non-null object
target_from     646085 non-null float64
target_to       390960 non-null float64
dtypes: bool(2), float64(2), object(8)
memory usage: 54.5+ MB

In [8]:
ds.describe()

        target_from     target_to
count  6.460850e+05  3.909600e+05
mean   2.358419e+05  2.946869e+05
std    1.229709e+06  2.879861e+06
min    1.000000e+00  1.000000e+00
25%    2.000000e+04  3.000000e+04
50%    3.000000e+04  4.500000e+04
75%    4.950000e+04  8.000000e+04
max    1.500000e+08  1.000000e+09

In [ ]:
def transform_exp(data):